
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>Id</th>
        <th>Category Name</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Beyaz Eşya</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Telefon</td>
    </tr>
</table>
<button class="button btn-primary">Yeni Katgori</button>

