@model E_Market_.Net_Core.Models.DB_Classes.Category;
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>UpdateCategory</h1>

<br />
<h1>Category Update  </h1>
<br />
@using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
{
        <div class="form-group">
        @Html.LabelFor(x=>x.CategoryName)
        @Html.TextBoxFor(x=>x.CategoryName,new {@class="form-control"})
        </div>
}